<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Declare unit test</title>
	<link rel="stylesheet" href="../jasmine-1.0.2/jasmine.css" />
</head>
<body>
	
	<script src="../../nature/require.js"></script>
	<script src="../jasmine-1.0.2/jasmine.js"></script>
	<script src="../jasmine-1.0.2/jasmine-html.js"></script>

	<script>

		require(['{JS_PATH}'], function({JS_NAME}) {

			{JASMINE_CASE}

			jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
			jasmine.getEnv().execute();

		});

	</script>

</body>
</html>
